
<header class="container">
	<div class="row">
		<div class="col-xs-9">
			<h2><i class="fa fa-play-circle"></i> fjärr<span>kontroll</span> </h2>
		</div>
		<div class="col-xs-3">
			<nav id="admin-menu">
				<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    <i class="fa fa-male"></i> xljoha <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#"><i class="fa fa-cog"></i> inställningar</a></li>
				    <li><a href="#"><i class="fa fa-unlock"></i> logga ut</a></li>
				  </ul>
				</div>
			</div>
			<div id="logo">
				<div class="logo swe light text-below"></div>
			</div>
		</div>

		</div>
	</div>
</header>
