
<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<div id="brand">
					<div id="logo">
						<div class="logo ub swe dark text-to-right"></div>
					</div>
					<div class="service-name">
						FJÄRRKONTROLL
					</div>
				</div>
			</div>
			<div class="col-xs-3">
			<!--	<nav id="admin-menu">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-sm"><i class="fa fa-female"></i> xljoha</button>
					  	<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
					    	<span class="sr-only">Toggle Dropdown</span>
					  	</button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#"><i class="fa fa-cog"></i> inställningar</a></li>
					    <li><a href="#"><i class="fa fa-unlock"></i> logga ut</a></li>
					  </ul>
					</div>
				</nav>-->

			</div>

		</div>
		</div>
	</div>
</header>
